{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h1>Promo Codes</h1>

    <a href="{% url 'create_promo_code' %}"
       class="btn btn-success mb-3">
        Create Promo Code
    </a>

    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Name</th>
                <th>Discount (%)</th>
            </tr>
        </thead>

        <tbody>

        {% for promo in promo_codes %}
            <tr>
                <td>{{ promo.name }}</td>
                <td>{{ promo.discount_percent }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">
                    No promo codes found.
                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}